<p>Hej bokningssida</p>

<div class="movie">
	<div class="poster">
		<img src="/resources/img/${movie.name}.jpg" />
	</div>
	<div class="labelText">
		<div class="label">${movie.name}</div>
		<div class="text">${movie.description}</div>
		<br />
		<div class="text">${show.start}-${show.end}</div>
		<br />

		<div class="label">Book ticket</div>

		<div class="booking-row">
			<div class="booking-col">
				<div class="checkSeatsTogether"> <input type="checkbox" id="seatsTogheter" />Seats together</div>
				<button class="modifyNumSeats" onclick="increase()">+</button>
				<div id="numberOfSeats">1</div>
				<button class="modifyNumSeats" onclick="decrease()">-</button>
			</div>
			<div class="booking-col">
				<div id="seatList">
					---------Cinema screen---------
					<div *ngFor="let theatre of theatrePageWrapper.theatres">
					<div *ngFor= "let let theatre of theatrePageWrapper.theatres>
						end="${theatres[0].getSEAT_ROWS()-1}">
						<div class="row">
							<c:forEach var="j" begin="0"
								end="${theatres[0].getSEAT_COLS()-1}">
								<c:set var="key" value="row${i}col${j}" />
								<c:choose>
									<c:when test="${not empty tickets[key]}">
										<input disabled id="disabled" type="checkbox" class="seat"
											value="${i}${j}" />
									</c:when>
									<c:otherwise>
										<input type="checkbox" class="seat" name="bookedSeats"
											value="${i}${j}" />
									</c:otherwise>
								</c:choose>
							</c:forEach>
						</div>
					</c:forEach>
				</div>
			</div>
			<div class="booking-col">
				Customer information
				<form:form mehtod="post" id="submitForm" action="/booking/${show.id}">
					<input id="seats" name="seats" type="hidden">
					<input type="text" placeholder="First name">
					<br />
					<input type="text" placeholder="Last name">
					<br />
					<input type="text" placeholder="E-mail">
					<br />

					<button id="submitButton" type="button" onclick="canMakeBooking()">Submit</button>
				</form:form>
			</div>
		</div>
	</div>
</div>

	