<div *ngIf="theatrePageWrapper">    
  <div *ngIf="showModal" id="popup1" class="overlay">
        
    <div class="popup">
      <h2>Add Show</h2>
      <a (click)="closeModal()" class="close" >&times;</a>
      <div class="content">
        <div>
          <!-- <form (submit)="addShow()"> -->

            <select required [(ngModel)]="movieId" name="movie">
            
              <option required [ngValue]="movie.id" *ngFor="let movie of theatrePageWrapper.movies; let i = index" >
                {{movie.name}}
              </option>
            
            </select>

            <br />

            <select required [(ngModel)]="theatreId" name="theatre">

              <option [ngValue]="theatre.id" *ngFor="let theatre of theatrePageWrapper.theatres">
                {{theatre.name}}
              </option>

            </select>

            <br />
            <input [(ngModel)]="starttime" type="datetime-local" placeholder="Start date" name="starttime" required>
            <br />
            <input [(ngModel)]="endtime" type="datetime-local" placeholder="End date" name="endtime" required>
            <br />
            <input type="submit" value="Submit"(click)="addShow()">
           <!-- </form> -->
          <div *ngIf="errorMsg != ''">
            <p>Could not add show</p>
          </div>
          <div *ngIf="successMsg != ''">
            <p>Show was added</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>